<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804049028743-0mmmc80d7nr4jpjbuhcemcg1u6hufugu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804049028743-0mmmc80d7nr4jpjbuhcemcg1u6hufugu</string>
	<key>API_KEY</key>
	<string>AIzaSyAWCPsSf7iyG-Idk7qtEYbcO4TLmF6izq8</string>
	<key>GCM_SENDER_ID</key>
	<string>804049028743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viewsoftware.progettosistemicontextaware</string>
	<key>PROJECT_ID</key>
	<string>context-aware-systems</string>
	<key>STORAGE_BUCKET</key>
	<string>context-aware-systems.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804049028743:ios:b30937e7534ecdb4719a22</string>
	<key>DATABASE_URL</key>
	<string>https://context-aware-systems.firebaseio.com</string>
</dict>
</plist>